* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 300vh;
  padding: 2rem;
}

/* Sidebar container */
.social_links {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Each item */
.social-item {
  margin-bottom: 1px;
  background: #f6f5ff;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: background 0.3s ease;
}

.social-item:hover {
  background: #d4c8ff;
}

.social-item svg {
  width: 24px;
  height: 24px;
  color: #0a66c2;
}

/* Text default state */
.social_link_text {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 900;
  color: #0a66c2;
}

/* Active text */
.active_social_link_text {
  opacity: 1;
  height: auto;
  padding-bottom: 0.4rem;
  padding-top: 1rem;
}

.linkedin:hover svg,
.linkedin:hover p {
  color: #0a66c2 !important;
}

.github:hover svg,
.github:hover p {
  color: #333 !important;
}

.facebook:hover svg,
.facebook:hover p {
  color: #1877f2 !important;
}
